/* Footer */

#footer {
    @include vendor('background-image', 'linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%)');
    bottom: 0;
    cursor: default;
    left: 0;
    line-height: 8em;
    text-align: center;
    width: 100%;
    background-color: _palette(invert, bg);
}