/* Main */

#main {
    height: 100vh;
    left: 0;
    text-align: center;
    top: 0;
    width: 100%;

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        margin-right: 0;
        vertical-align: middle;
        width: 1px;
    }
}