/* Overlay */

@include keyframes('overlay') {
    0%		{ opacity: 0; }
    100%	{ opacity: 1; }
}

#overlay {
    @include vendor('animation', 'overlay #{_duration(overlay)} #{$delay-overlay} forwards');
    background-attachment: fixed, fixed;
    background-image: url('images/overlay-pattern.png'), url('images/overlay.svg');
    background-position: top left, center center;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    height: 100vh;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(0,0,0,0.3);
    }
}